# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# ESPHome build artifacts
.esphome/
.pioenvs/
.piolibdeps/

# Secrets
secrets.yaml
secrets.yml
*.secret.yaml

# Logs
*.log

# Editors
.vscode/
.idea/

# Temporary files
*~
*.swp
*.tmp
